.bg {
  height: 100vh;
  background-color: blue;
  background-image: linear-gradient(to top right, blue, violet);
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: #fff;
  padding: 20px 0 0 20px;
}

.chatbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80vh;
  width: 50vw;
  background-color: rgb(49, 46, 46);
  border-radius: 10px;
  padding: 0;
  overflow: scroll;
}

.bubble {
  background-color: rgb(88, 86, 86);
  border-radius: 10px;
  margin: 25px 20px;
  padding: 15px;
}

.bubble-text {
  color: white;
  font-size: 18px;
}

.bubble-text-sendername, .bubble-text-date-time {
  font-size: 10px;
  color: rgb(156, 151, 151);
  margin-right: 5px;
}